 
<form action="/Produto/Adiciona" method="post">
    @Html.ValidationMessage("produto.Invalido")

    <label for="nome">Nome:</label>
    <input id="nome" name="Nome" class="form-control"/>
    @Html.ValidationMessage("produto.Nome")

    <label for="preco">Preço</label>
    <input id="preco" name="Preco"  class="form-control"/>

    <label for="quantidade">Quantidade</label>
    <input id="quantidade" name="Quantidade" class="form-control"/>
    @Html.ValidationMessage("Produto.Quantidade")

    <label for="descricao">Descrição</label>
    <input id="descricao" name="Descricao" class="form-control"/>
    @Html.ValidationMessage("Produto.Descricao")

    <label for="categoria">Categoria</label>
    <select id="categoria" name="CategoriaId" class="form-control">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.Id" selected ="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">
                @categoria.Nome
            </option>
        }
    </select>      
    <br />
    <input type="submit" value="Cadastrar" class="btn btn-primary form-control " />
</form>

